.main-content{
    margin-top: 100px;
}

body {
    background-color: #F4F6F8;
    font-family: Arial, sans-serif;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box {
    flex: 1;
    text-align: center;
}

    .search-box input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        width: 50%;
    }

.user-profile {
    display: flex;
    align-items: center;
}

    .user-profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
    }

.page-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.sub-title {
    font-size: 18px;
    font-weight: normal;
    color: #666;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: white;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

.filter-button {
    background-color: #E3F2FD;
    color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-filter {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.report-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    max-width: 60%;
    margin: auto;
}

.report-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .report-box .arrow {
        font-size: 20px;
        color: #007BFF;
    }
