<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body>
    <div class="TieuDe">
        <div class="Logo">
            <img src="~/img/Logo.png" alt="BBT Shop">

        </div>
        <div class=" TimKiem">
            <header>
                <input type="text" placeholder="Tìm kiếm...">
            </header>
        </div>
        <div class="user-profail">
            <img src="~/img/user-fail.jpg" />
            <select>
                <option>Đăng Xuất</option>
            </select>
        </div>
    </div>

    <div class="sidebar">
        <div>
            <ul>
                <li><a href="/Home/Index">Dashboard</a></li>
                <li><a href="/TrangChu/Index">Trang chủ</a></li>
                <li><a href="/DanHang/Index">Đơn hàng</a></li>
                <li><a href="/SanPham/Index">Sản phẩm</a></li>
                <li><a href="/QuanLyKho/Index">Quản lý kho</a></li>
                <li><a href="/KhachHang/Index">Khách hàng</a></li>
                <li><a href="/KhuyenMai/Index">Khuyến mãi</a></li>
                <li><a href="/BaoCao/Index">Báo cáo</a></li>
            </ul>
        </div>
    </div>
</body>
</html>